<div class="modal" id="edit-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Edit Topic</h4>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<form action="{{ path('admin_topic_update') }}" id="edit-form" method="POST">
          			<input type="hidden" name="_token" value="{{ csrf_token('update_topic') }}">
					<input type="hidden" name="topic_id" id="topic-id">
					<div class="form-group">
						<label for="topic_cat">Category</label>
						<select class="form-control" name="topic_cat" id="topic-cat">
							<option disabled>-- Please select a category --</option>
							{% if categories is not null %}
								{% for category in categories %}
									<option value="{{ category.getId() }}">{{ category.getName() }}</option>
								{% endfor %}
							{% endif %}
						</select>
					</div>
					<div class="form-group">
						<label for="topic_name">Name</label>
						<input class="form-control" type="text" name="topic_name" id="topic-name">
						{% for msg in edit_error_name %}
							<small class="form-text text-muted text-danger">
								{{ msg }}
							</small>
						{% endfor %}
					</div>
					<div class="form-group">
						<label for="topic_desc">Description</label>
						<textarea class="form-control" name="topic_desc" id="topic-desc"></textarea>
						{% for msg in edit_error_desc %}
							<small class="form-text text-muted text-danger">
								{{ msg }}
							</small>
						{% endfor %}
					</div>
					<diV class="text-center">
						<button type="button" class="btn btn-success float-left" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" id="btnUpdateSubmit">Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
